@-webkit-keyframes "pulse" {
 0% {
    margin-left:0px;
 }
 5% {
    margin-left:-10px;
 }
 10% {
    -webkit-transform: scale(1.2);
 }
 15% {
    -webkit-transform: scale(1.3);
 }
 20% {
    -webkit-transform: scale(1.4);
 }
 25% {
    -webkit-transform: scale(1.5);
 }
 30% {
    -webkit-transform: scale(1.4);
 }
 35% {
    -webkit-transform: scale(1.3);
 }
 40% {
    -webkit-transform: scale(1.2);
 }
 45% {
    -webkit-transform: scale(1.1);
 }
 50% {
    -webkit-transform: scale(1);
 }
}